
.modal[data-v-c3c44338] {
  background-color: rgba(0, 0, 0, 0.5);
.modal-dialog[data-v-c3c44338] {
.modal-content[data-v-c3c44338] {
      background-color: white;
.modal-header[data-v-c3c44338] {
i[data-v-c3c44338] {
          font-size: 2.5rem;
          cursor: pointer;
}
}
.modal-body[data-v-c3c44338] {
p[data-v-c3c44338] {
          font-size: 1.5rem;
}
}
}
}
}

/* This class is used to create the fade effect
   when the modal is shown or hidden
*/
.v-enter-active[data-v-c3c44338] {
  transition: opacity 0.2s linear;
}
.v-leave-active[data-v-c3c44338] {
  transition: opacity 0.2s linear;
}
.v-enter-from[data-v-c3c44338] {
  opacity: 0;
}
.v-leave-to[data-v-c3c44338] {
  opacity: 0;
}

.container-form[data-v-4654c948] {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - (6.3rem + 15rem));
input[data-v-4654c948] {
    font-size: 1.6rem;
}
.password[data-v-4654c948] {
input[data-v-4654c948] {
      width: 100%;
}
    position: relative;
.btn-password[data-v-4654c948] {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
i[data-v-4654c948] {
        font-size: 2rem;
        cursor: pointer;
}
}
}
}
.modal-title[data-v-4654c948] {
& h2[data-v-4654c948] {
    font-size: 2rem;
    font-weight: 700;
}
}
.modal-body[data-v-4654c948] {
& p[data-v-4654c948] {
    font-size: 1.6rem;
}
& ul[data-v-4654c948] {
    margin-top: 1rem;
& li[data-v-4654c948] {
      font-size: 1.6rem;
      list-style: disc;
      margin-left: 2rem;
}
}
input[data-v-4654c948] {
    font-size: 1.6rem;
}
.password[data-v-4654c948] {
input[data-v-4654c948] {
      width: 100%;
}
    position: relative;
.btn-password[data-v-4654c948] {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
i[data-v-4654c948] {
        font-size: 2rem;
        cursor: pointer;
}
}
}
}
