
label[data-v-2cf3173f] {
  font-size: 1.6rem;
}
input[data-v-2cf3173f] {
  font-size: 1.6rem;
  width: 100%;
}
p[data-v-2cf3173f] {
  font-size: 1.5rem;
}
ul[data-v-2cf3173f] {
  font-size: 1.6rem;
& li[data-v-2cf3173f] {
    font-size: 1.5rem;
}
}
.password[data-v-2cf3173f] {
input[data-v-2cf3173f] {
    width: 100%;
}
  position: relative;
.btn-password[data-v-2cf3173f] {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
i[data-v-2cf3173f] {
      font-size: 2rem;
      cursor: pointer;
}
}
}

ul[data-v-827beff3] {
  font-size: 1.6rem;
}
h2[data-v-827beff3] {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}
h3[data-v-827beff3] {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}
h4[data-v-827beff3] {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}
ul[data-v-827beff3] {
  list-style: circle;
& li[data-v-827beff3] {
    margin-bottom: 0.5rem;
}
}

.policy[data-v-627f48d5] {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-top: 5rem;
& p[data-v-627f48d5] {
    font-size: 1.6rem;
    font-weight: 700;
}
& input[data-v-627f48d5] {
    width: -moz-fit-content;
    width: fit-content;
}
}
form[data-v-627f48d5] {
  min-height: calc(100vh - (6.3rem + 15rem));
input[data-v-627f48d5] {
    font-size: 1.6rem;
    width: 100%;
}
.content-form[data-v-627f48d5] {
.password[data-v-627f48d5] {
input[data-v-627f48d5] {
        width: 100%;
}
      position: relative;
.btn-password[data-v-627f48d5] {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
i[data-v-627f48d5] {
          font-size: 2rem;
          cursor: pointer;
}
}
}
.actions[data-v-627f48d5] {
      width: 100%;
      display: flex;
}
}
}
