
label[data-v-bf7813ea] {
  font-size: 1.6rem;
}
input[data-v-bf7813ea] {
  font-size: 1.6rem;
  width: 100%;
}
p[data-v-bf7813ea] {
  font-size: 1.5rem;
}

.alert[data-v-0cf852d5] {
  opacity: 0;
}
.show[data-v-0cf852d5] {
  opacity: 1;
  transform: translateX(0);
  /* Set the animation to show the alert */
  animation: opacity 0.5s ease-in-out;
}

.alert[data-v-febab5b4] {
  opacity: 0;
}
.show[data-v-febab5b4] {
  opacity: 1;
  transform: translateX(0);
  animation: opacity 0.5s ease-in-out;
}
