@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles 
  - Add your custom styles here
  This file is imported in src/main.js
  This styles will be applied to all the components
*/

/* This set 1rem = 10px */
html {
  font-size: 62.5%;
}

/* Custom fonts size*/
h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

/* Custom font padding and margin */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Set border box in all components*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
